.single-featured-image-header{
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-position:center;
}
//subbanner
.subbanner{
  color: #fff;
  .subbanner-sublabel{
    margin-top: -145px;
    font-size: 18px;
  }
  .subbanner-label{
    font-size:72px;
    margin-top: -28px;
    text-transform: uppercase;
  }
  @media (max-width: 768px){
    .subbanner-label,.subbanner-sublabel{
      display: none;
    }
  }
}
//common .section
.section {
  padding-bottom:100px;
  .section_title{
    text-align: center;
    //min-height: 80px;
    margin-bottom: 89px;
    margin-top:104px;
    padding-bottom: 36px; 
    text-transform: uppercase;
    position:relative;
    &:after {
      content: " ";
      width: 84px;
      position: absolute;
      top: auto;
      bottom: 0;
      left: 50%;
      margin-left: -42px;
      width: 83px;
      height: 10px;
      background: $darkred;
    }
    h2{
      font-size: 36px;
      line-height: 50px;
      font-weight: bold;
      color: $lightblack;
    }
    &.text_white {
      h2 { color: $white; }
    }
    &.title_big {
      h2 { font-size: 48px; }
    }
    &.left_align {
      text-align: left;
      &:after {
        left: 0;
        margin-left: 0;
      }
    }
    &.right_align {
      text-align: right;
      &:after {
        left: auto;
        right: 0;
      }
    }
  }
  &.graybg{
    background-color: $bg_gray;
  }
  &.brownbg{
    background-color: #322121;
  }
  &.blackbg {
    background-color: #3b3b3b;
  }
}
@media (max-width: $screen-sm) {
  .section {
    .section_title {
      text-align:center !important;
      &.left_align, &.right_align{
        &:after{
          left: 50%;
          margin-left: -42px;
        }
      }
    }
  }
}
@media (max-width: $screen-xs) {
  .section {
    padding-bottom: 40px;
    .section_title {
      margin-bottom: 34px;
      margin-top: 44px;
      padding-bottom: 22px;
      h2{
        font-size: 36px;
      }
    }
  }
}