.site-header {
	height: $header-height;
	color: #fff;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: $zindex-navbar;
	.container {
		position: relative;
	}
	&.fixed{
		background-color: rgba(50, 33, 33, 0.95);
	}
}
//*** header - top: start
.site-branding {
	height: 50px;
	text-align: right;
	a {
		color: #898989;
		&:hover {
			color: #fff;
		}
	}
	.current-lang {
		a {
			color: #fff;
		}
	}
	ul {
		display: inline-block;
		> li {
			display: inline-block;
		}
		
		&.site-social {
			padding-top: 12px;
			li {
				margin-left: 18px;
			}
		}
		&.site-lang {
			padding-top: 13px;
			font-size: 12px;
			display: inline-block;
			vertical-align: middle;

			li {
				margin-left: 23px;
			}
		}
	}
}
// .navigation-top {
// 	height: $header-height - 50;
// }
//*** header - top: end
//logo : start
.site-branding-text {
	position: absolute;
	top: 1px;
	left: $grid-gutter-width / 2;
}
.site-title {
	a {
		display: block;
		@include size(186px, 46px);
		overflow: hidden;
		@include hide-text;
		background: url(#{$img-common}logo-header.png) 0 0 no-repeat;
	}
}
.site-description {
	display: none;
}
//logo : end
//main-navigation : start
@media (min-width: $screen-sm) {
	.main-navigation {
		text-align: right;
		color: #fff;
		font-size: 12px;
		padding-top: 34px;
		margin-left: 190px;		
		ul.menu {
			li {
				position: relative;
				text-transform: uppercase;
				cursor: pointer;
				&:hover {
					> ul.sub-menu {
						display: block;
					}
				}
			}
			ul.sub-menu {
				min-width: 220px;
				background-color: rgba(255, 255, 255, 0.95);
				display: none;
				z-index: $zindex-navbar;
				text-align: left;
				box-shadow: -2px 0 5px 1px rgba(0,0,0,0.2);
				li {
					height: 40px;
					line-height: 40px;

					a {
						color: #000;
						display: block;
						height: 40px;
						line-height: 40px;
						@include text-overflow();
						padding-left: 32px;
						padding-right: 10px;
					}

					&:hover, &.active {
						background-color: $ikorn-color;
						> a {
							color: #FFF;
						}
					}

					&.menu-item-has-children {
						padding-right: 20px;
						> a:after {
							content: " ";
							display: inline-block;
							@include triangle-right(4px, 8px, #000);
							position: absolute;
							right: 14px;
							top: 17px;
						}

						&:hover, &.active {
							> a {
								&:after {
									@include triangle-right(4px, 8px, #FFF);
								}
							}
						}				
					}

					//level 2 + 3 + ...
					ul.sub-menu {
						color: #000;
						text-align: left;
						position: absolute;
						top: 0;
						left: 100%;
						margin-left: 1px;
					}
				}
			}
		}

		//level 0
		ul.menu > li {
			display: inline-block;
			margin-left: 35px;
			padding-bottom: 19px;

			&:first-child {
				margin-left: 0;
			}
			> a {
				color: #fff;
			}

			&.menu-item-has-children {
				> a:after {
					content: " ";
					display: inline-block;
					@include triangle-down(8px, 4px, #fff);
					margin-left: 6px;
					vertical-align: 2px;
				}
			}
			&:hover, &.active {
				> a {
					color: $ikorn-color;
					&:after {
						@include triangle-down(8px, 4px, $ikorn-color);
					}
				}
			}
		}

		//level 1
		ul.menu > li > ul.sub-menu {
			position: absolute;
			left: 0;
			top: 36px;
		}
		
	}
}
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
	.site-header {
		height: $header-height-sm;
	}
	.site-branding-text {
		top: -35px;
	}
	.site-title {
		a {
			@include size(122px, 29px);
			background: url(#{$img-common}logo-footer.png) 0 0 no-repeat;
		}
	}
	.main-navigation {
	    margin-left: 0;
	    padding-top: 15px;
	    ul.menu {
	    	display: table;
	    	width: 100%;
	    	> li {
	    		display: table-cell;
	    		margin-left: 0;
	    		text-align: center;
	    		padding-left: 5px;
	    		padding-right: 5px;
	    		padding-bottom: 17px;
	    		&:first-child {
	    			text-align: left;
	    		}
	    		&:last-child {
	    			text-align: right;
	    		}
	    		> ul.sub-menu {
	    			top: 35px;
	    		}
	    	}
	    }
	}
}
//main-navigation : end

//Mobile menu
@media (max-width: $screen-sm - 1) {
	.site-header {
		height: $header-height-xs;

		.navigation-mask {			
			content: " ";
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,0.3);
			z-index: $zindex-modal + 1;
			display: none;
		}
		// &:before {
		// }

		.open_main_nav {
			background: url(#{$img-src}icon_mobile_menu.png) center center no-repeat;
			@include size(27px, 26px);
			cursor: pointer;
			position: absolute;
			top: -27px;
			left: 15px;
			@include translate(0, 0);
			@include opacity(1);
			@include transition(all 0.4s ease-in);
		}

		.close_main_nav {
			background: url(#{$img-common}icon_close_menu_20.png) center center no-repeat;
			@include size(26px, 26px);
			cursor: pointer;
			z-index: $zindex-popover;
			position: absolute;
			top: -27px;
			left: 15px;

			@include translate(-50px, 0);
			@include opacity(0);
			@include transition(all 0.4s ease-in);
		}
		&.mobile_open {
			.navigation-mask {
				display: block;
			}
			.open_main_nav {
				@include opacity(0);
				@include translate(-50px, 0);
			}
			.close_main_nav {
				@include opacity(1);
				@include translate(0, 0);
			}
			.main-navigation {
			    @include translate(0, 0);
			}
		}
	}
	.site-branding {
		ul {
			li {
				margin-left: 12px !important;
			}
		}
		ul.site-social {
		    padding-top: 23px;
		}
	}
	//logo
	.site-branding-text {
		top: -35px;
		left: 50%;
		margin-left: -16px;
	}
	//logo icon
	.site-title {
		a {
			@include size(32px, 32px);
			background: url(#{$img-common}logo-header-mobile.png) 0 0 no-repeat;
		}
	}
	
	//Header NAV [new]
	.main-navigation {
		width: $main-left-width;
	    position: fixed;
	    top: $header-height-xs;
	    left: 0;
	    bottom: 0;
	    z-index: 9999;

	    @include translate(-100%, 0);
	    @include transition-transform(.4s);

		> div[class*="menu-main-"] {
			scroll-behavior: smooth;
		    -ms-overflow-style: -ms-autohiding-scrollbar;
		    overflow-y: auto;
		    -webkit-overflow-scrolling: touch;
		    z-index: $zindex-navbar-fixed;
		    height: 100%;
			background-color: #333;
			padding: 0 0 40px;
			@include custom-scrollbar;
		}

		ul.menu {
			background-color: #ebebea;
			li {
				a {
					color: #000;
					display: block;
					height: 40px;
					line-height: 40px;
					@include text-overflow();
					padding-left: 10px;
					padding-right: 10px;
					font-size: 1rem;

					&:hover, &.active {
						background-color: $ikorn-color;
						color: #FFF;
					}
				}
				> ul.sub-menu {
					background-color: darken(#ebebea, 10%);
					> li > a { padding-left: 25px; font-size: 0.9rem; }
					ul {
						background-color: darken(#ebebea, 20%);
						> li > a { padding-left: 40px; font-size: 0.8rem; font-family: $font-serif; }
						ul {
							background-color: darken(#ebebea, 30%);
							> li > a { padding-left: 55px; font-size: 0.75rem; font-style: italic; }
						}
					}
				}
			}
			> li > a {
				color: #FFF;
				background-color: lighten(#333, 10%);
			}
		}
	}
}