
// triangle
// -------------------------
@mixin triangle($size, $color, $direction) {
    content: '';
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: $size / 2;

    @if $direction == up {
      border-bottom-color: $color;
      
    } @else if $direction == down {
      border-top-color:    $color;

    } @else if $direction == right {
      border-left-color:   $color;

    } @else if $direction == left {
      border-right-color:  $color;
    }
}

// triangle diffrent size
//* https://css-tricks.com/examples/ShapesOfCSS/
//---------------------------: start
@mixin triangle-up($width, $height, $color) {
  width: 0; 
  height: 0; 
  border-left: $width / 2 solid transparent;
  border-right: $width / 2 solid transparent;
  
  border-bottom: $height solid $color;
}
@mixin triangle-down($width, $height, $color) {
  width: 0; 
  height: 0; 
  border-left: $width / 2 solid transparent;
  border-right: $width / 2 solid transparent;
  
  border-top: $height solid $color;
}
@mixin triangle-left($width, $height, $color) {
  width: 0; 
  height: 0; 
  border-top: $height / 2 solid transparent;
  border-bottom: $height / 2 solid transparent;
  
  border-right: $width solid $color;
}
@mixin triangle-right($width, $height, $color) {
  width: 0; 
  height: 0; 
  border-top: $height / 2 solid transparent;
  border-bottom: $height / 2 solid transparent;
  
  border-left: $width solid $color;
}

@mixin triangle-topright($width, $height, $color) {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 $width $height 0;
  border-color: transparent $color transparent transparent;
}
@mixin triangle-topleft($width, $height, $color) {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $height $width 0 0;
  border-color: $color transparent transparent transparent;
}
// triangle diffrent size
//---------------------------: end